.example-full-width {
  width: 100%;
  color: var(--text-color);
}

.sub-title-val {
  margin: 0px;
  display: flex;
  padding-top: 6px !important;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}
