@if ($movieDetails | async; as movie) {
  <div class="container">
    <div class="row column-md main-head">
      <div class="poster-section">
        <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path : 'assets/no_poster.jpg'"
          alt="">
          @if (movie.production_companies.length !== 0 && movie.production_companies[0].logo_path) {
            <div class="row justify-content-center network">
              <div class="row align-items-center">
                <img [src]="'https://image.tmdb.org/t/p/w500'+movie.production_companies[0].logo_path" alt="">
              </div>
              <div class="watch-line">
                <p>Now Streaming</p>
                <b>Watch Now</b>
              </div>
            </div>
          }
      </div>
      <div class="tv-details">
        <h3 class="title">{{movie.title}}</h3>
        @for (gen of movie.genres; track gen.id) {
          <span class="genres">{{gen.name}}</span>
        }
        <div class="p-tb-1"></div>
        <i class="tag-line">{{movie.tagline}}</i>
        <div class="p-tb-1"></div>
        @if (movie.overview) {
          <h4 class="title-header">Overview :</h4>
          <div class="p-t-1"></div>
          <p class="overview">{{movie.overview}}</p>
        }
        @if (movie.release_date) {
          <div class="p-tb-1"></div>
          <h6 class="language">Release : <span>{{movie.release_date | date:'longDate'}}</span></h6>
        }
        @if (movie.spoken_languages.length !== 0) {
          <h6 class="language">Languages :
          @for (lag of movie.spoken_languages; track lag.id; let i = $index) {
            <span>{{(movie.spoken_languages.length - 1) === i ? lag.english_name : lag.english_name+", "}}</span>
          }
        </h6>
        }
        @if (movie.videos && movie.videos?.results && movie.videos?.results.length !== 0) {
        <button mat-stroked-button class="button-color" (click)="playTrailer(movie.videos.results[0])">
          <mat-icon>play_arrow</mat-icon>Play Trailer
        </button>
        }
      </div>
    </div>
    <app-movie [Movies]="$similarMovies" (pages)="nextOrPreviousPage($event)" [MovieClassName]="routeName"></app-movie>
  </div>
}
